.container {
  width: 23rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

body {
  background-color: teal;
  color: white;
  font-weight: 300;
}

.card-address {
  font-size: 0.8rem;
}

hr {
  border: solid 1px white;
}

.name {
  font-weight: 600;
  font-size: 1.4rem;
}

.job {
  font-size: 0.9rem;
}
