html {
  width: 100%;
  height: 100%;
}

.container {
  width: 23rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

body {
  background-color: teal;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-address {
  font-size: 0.8rem;
}

hr {
  border: solid 1px white;
}

.name {
  font-weight: 600;
  font-size: 1.4rem;
}

.job {
  font-size: 0.9rem;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img-container {
  width: 15rem;
  height: 15rem;
  border-radius: 70%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  width: 6.5rem;
  height: 6.5rem;
  background-color: #ffe300;
  border-radius: 70%;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.introduction-container hr {
  width: 15px;
}

.introduction {
  line-height: 1.5rem;
}

.tags {
  font-size: 0.8rem;
}
